.mainParallaxPicture{
    display: block;
    position: relative;
    will-change: transform;
}
.mainParallaxPicture::after{
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 15);
    background-image: url(assets/parallax/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
    will-change: transform;
}

.layers {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
    transition: var(--transition);
}
.layer7 {
    transform: translate3d(0, calc(var(--scrollTop) * 0.6), 0);
    background-image: url(assets/parallax/7.webp);
    z-index: 0;
}
.layer6 {
    transform: translate3d(0, calc(var(--scrollTop) * 0.5 ), 0);
    background-image: url(assets/parallax/6.webp);
}
.layer5 {
    transform: translate3d(0, calc(var(--scrollTop) * 0.4), 0);
    background-image: url(assets/parallax/5.webp);
}
.layer4 {
    transform: translate3d(0, calc(var(--scrollTop) * 0.3), 0);
    background-image: url(assets/parallax/4.webp);
}
.layer3 {
    transform: translate3d(0, calc(var(--scrollTop) * 0.2), 0);
    background-image: url(assets/parallax/3.webp);
}
.layer2 {
    transform: translate3d(0, calc(var(--scrollTop) * 0.1), 0);
    background-image: url(assets/parallax/2.webp);
}
.title {
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) * 0.8), 0);
    transition: var(--transition);
    will-change: transform;
}
.text {
    font-family: Karlson, sans-serif;
    letter-spacing: calc(var(--index) / 20);
    line-height: calc(var(--index) * 2.8);
    margin-top: calc(var(--index) * -12);
    color: #006ACE;
    text-transform: uppercase;
}
.lineFirst{
    font-size: calc(var(--index) * 2.65);
}
.lineSecond{
    font-size: calc(var(--index) * 5.4);
}
@media screen and (max-width: 769px) {
    .mainParallaxPicture::after{
        background-size: contain;
        bottom: calc(var(--index) * -7);
    }
    .layer {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .title{
        transform: translate3d(0, calc(var(--scrollTop) * 0.6), 0);
    }
    .text {
        line-height: calc(var(--index) * 4);
    }
    .lineFirst{
        font-size: calc(var(--index) * 4);
    }
    .lineSecond{
        font-size: calc(var(--index) * 8);
    }
}
