.mainParallaxPicture {
    display: block;
    position: relative;
    will-change: transform;
    background-color: white;
    z-index: 1;
}

.mainParallaxPicture::after {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 20);
    background-image: url(assets/parallax/desktop/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -6.5);
    will-change: transform;
}

.layers {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
    transition: var(--transition);
}

.layer7 {
    transform: translateY(calc(var(--scrollTop) * 0.6));
    background-image: url(assets/parallax/desktop/7.webp);
    z-index: 0;
}

.layer6 {
    transform: translateY(calc(var(--scrollTop) * 0.5));
    background-image: url(assets/parallax/desktop/6.webp);
}

.layer5 {
    transform: translateY(calc(var(--scrollTop) * 0.4));
    background-image: url(assets/parallax/desktop/5.webp);
}

.layer4 {
    transform: translateY(calc(var(--scrollTop) * 0.3));
    background-image: url(assets/parallax/desktop/4.webp);
}

.layer3 {
    transform: translateY(calc(var(--scrollTop) * 0.2));
    background-image: url(assets/parallax/desktop/3.webp);
}

.layer2 {
    transform: translateY(calc(var(--scrollTop) * 0.1));
    background-image: url(assets/parallax/desktop/2.webp);
}

.title {
    z-index: 1;
    transform: translateY(calc(var(--scrollTop) * 0.8));
    transition: var(--transition);
    will-change: transform;
}

.text h1 {
    text-align: center;
    letter-spacing: calc(var(--index) / 20);
    line-height: calc(var(--index) * 3);
    margin-top: calc(var(--index) * -12);
    color: #006ACE;
    text-transform: uppercase;
}

.lineFirst {
    font-size: calc(var(--index) * 2.65);
}

.lineSecond {
    font-size: calc(var(--index) * 5.4);
}

@media screen and (max-width: 1125px) {
    .mainParallaxPicture::after {
        background-size: contain;
        bottom: calc(var(--index) * -9);
    }

    .layer {
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .title {
        transform: translate3d(0, calc(var(--scrollTop) * 0.75), 0);
    }

    .text h1 {
        line-height: calc(var(--index) * 4.8);
        margin-top: calc(var(--index) * -22);
    }

    .lineFirst {
        font-size: calc(var(--index) * 4);
    }

    .lineSecond {
        font-size: calc(var(--index) * 8);
    }
}

@media screen and (max-width: 585px) {
    .mainParallaxPicture::after {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        bottom: calc(var(--index) * -7);
        background-image: url(assets/parallax/mobile/1.webp);
    }

    .layer {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .layer7 {
        background-image: url(assets/parallax/mobile/7.webp);
        z-index: 0;
    }

    .layer6 {
        background-image: url(assets/parallax/mobile/6.webp);
    }

    .layer5 {
        transform: translate3d(0, calc(var(--scrollTop) * 0.4), 0);
        background-image: url(assets/parallax/mobile/5.webp);
    }

    .layer4 {
        transform: translate3d(0, calc(var(--scrollTop) * 0.3), 0);
        background-image: url(assets/parallax/mobile/4.webp);
    }

    .layer3 {
        transform: translate3d(0, calc(var(--scrollTop) * 0.2), 0);
        background-image: url(assets/parallax/mobile/3.webp);
    }

    .layer2 {
        transform: translate3d(0, calc(var(--scrollTop) * 0.1), 0);
        background-image: url(assets/parallax/mobile/2.webp);
    }
}

