.descriptionOfAquapark {
    position: relative;
    z-index: 2;
}

.textBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container {
    display: flex;
    padding: calc(var(--index));
    border-radius: 30px;
    border: white solid 2px;
    margin-bottom: 20px;
    align-items: center;
}

.leftTextBlock {
    width: 30%;
    min-width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightTextBlock {
    width: 70%;
}

.vl{
    width: 2px;
    background-color: white;
    border-radius: 1px;
    margin: 0 var(--index);
    display: inline-block;
    height: Calc(var(--index) * 4);
}
@media screen and (max-width: 1025px) {
    .container {
        padding: Calc(var(--index) * 2);
        flex-direction: column;
        align-items: normal;
    }

    .textBlock {
        width: 100%;
        min-width: auto;
        background-color: inherit;
    }

    .leftTextBlock, .rightTextBlock{
        width: 100%;
        padding: 0;
        justify-content: left;
    }

    .vl{
        width:  Calc(var(--index) * 7);
        height: 2px;
        margin: var(--index) 0;
    }
}

