.descriptionOfAquapark {
    position: relative;
    padding-top: calc(var(--index) * 5);
    align-items: end;
}

.descriptionOfAquapark > div{
    display: flex;
    justify-content: right;
}

.textBlock {
    padding: calc(var(--index));
    padding-top: calc(var(--index) * 9);
    min-width: 70%;
    width: calc(var(--index) * 35);
    background-color: gray;
}

.container {
    display: flex;
    padding-bottom: calc(var(--index));
}

.leftTextBlock {
    padding-right: 5%;
    width: 30%;
    min-width: min-content;
}

.rightTextBlock {
    width: 70%;
}
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-bottom: 0;
    }

    .textBlock {
        padding: calc(var(--index) * 2);
        padding-top: calc(var(--index) * 9);
        width: 100%;
        min-width: auto;
        background-color: inherit;
    }

    .leftTextBlock {
        width: 60%;
        margin: calc(var(--index) * 2) 0;
    }

    .rightTextBlock {
        width: 100%;
    }
}
