.footer{
    margin-top: calc(var(--index) * 3);
    display: flex;
    justify-content: center;
    padding-top: calc(var(--index) * 10);
    padding-bottom: calc(var(--index) * 9);
    background-image: url("assets/footer/footer.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.informationBlock{
    width: 50%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informationBlock div a{
    text-decoration: none;
    color: white;
    padding: 0 calc(var(--index) * 1);
}

.links{
    margin-bottom: calc(var(--index) * 1);
}

.social a svg{
    width: calc(var(--index) * 2);
    aspect-ratio: 1;
}
@media screen and (max-width: 768px) {
    .informationBlock{
        width: 80%;
        min-width: auto;
    }
}