.videoBanner {
    padding: calc(var(--index) * 6) 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.animatedWhale {
    padding: calc(var(--index) * 3) calc(var(--index) * 7);
    background-color: gray;
}

.video {
    width: calc(var(--index) * 25);
    height: calc(var(--index) * 16);
}

@media screen and (max-width: 768px) {
    .video {
        width: calc(var(--index) * 20);
        height: calc(var(--index) * 11);
    }
    .animatedWhale {
        padding: calc(var(--index) * 2) calc(var(--index) * 3.8);
    }
}
