.videoBanner {
    position: relative;
    margin-top: calc(var(--index) * 6);
    z-index: 2;
}

.animatedWhale {
    position: relative;
    width: 100%;
    border-radius: 30px;
    border: white 2px solid;
    overflow: hidden;
}

.video {
    width: 100%;
    aspect-ratio: 1.5;
}

@media screen and (max-width: 1489px) {
    .video {
        aspect-ratio: 1.7;
    }
}
@media screen and (max-width: 1125px) {
    .video {
        width: 100%;
        aspect-ratio: 1.6;
    }
}
@media screen and (max-width: 876px){
    .video {
        aspect-ratio: 1.7;
    }
}
@media screen and (max-width: 585px) {
    .video {
        aspect-ratio: 1.5;
    }
}
