.cardWrapper{
    width: 100%;
    overflow: hidden;
    background-color: #006ACE;
    border-radius: 50px;
}

.head img{
    width: 100%;
}

.body{
    padding: 0 40px 40px;
    word-wrap: anywhere;
}

.body a{
    color: white;
    text-decoration: none;
}
