.cardWrapper{
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    border: white 1px solid;
}

.head img{
    width: 100%;
}

.body{
    padding: 0 40px 40px;
    word-wrap: anywhere;
}

.body a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 875px) {
    .body{
        padding: 0 30px 30px;
    }

}
