.block{
    padding-left: 16%;
    cursor: pointer;
}

.block.open .answer {
    max-height: 150px;
    transition: max-height 1s ease-in-out;
}

.question{
    padding: 2%;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
    padding-left: 2%;
}
@media screen and (max-width: 768px) {
    .block{
        padding-left: calc(var(--index) * 2);
    }
    .question{
        padding: 3% 0;
    }
    .answer{
        padding: 0 calc(var(--index) * 2);
    }
}