.storePage{
    padding-top:  calc(var(--index) * 2);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4); /* Тень */
}
.calculateBlock{
    display: flex;
    width: 100%;
    margin-top: calc(var(--index) * 2);
}
.calculateBlock input{
    font-size: calc(var(--index) * 0.8);
    border: 1px solid white;
    padding: calc(var(--index) * 0.3) calc(var(--index) * 1);
    border-radius: 100px;
    margin-right: calc(var(--index) * 0.8);
}
.left{
    display: flex;
    justify-content: left;
    width: 50%;
}
.left input{
    width: calc(var(--index) * 8);
    min-width: min-content;
}
.left input::placeholder{
    color: gray;
}
.right{
    display: flex;
    justify-content: right;
    width: 50%;
}
.onlyOne{
    width: 100%;
}
.preliminaryPrice{
    width: calc(var(--index) * 6);
}
.totalPrice{
    width: calc(var(--index) * 6);
}
.sale{
    width: calc(var(--index) * 4);
}

@media screen and (max-width: 768px) {
    .backButton{
        position: fixed;
        top: calc(var(--index) * 2);
    }
    .right{
        position: fixed;
        bottom: calc(0dvh + (var(--index) * 2));
        justify-content: space-between;
        width: 90%;
    }
    .right input{
        font-size: calc(var(--index) * 1.1);
    }
    .preliminaryPrice{
        width: calc(var(--index) * 8);
    }
    .totalPrice{
        width: calc(var(--index) * 8);
    }
    .sale{
        width: calc(var(--index) * 5);
    }
    .left{
        width: 100%;
    }
    .left input{
        width: 100%;
    }
}