:root {
    --index: calc(1vw + 1vh);
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
    color: white;
}

h2 {
    font-size: calc(var(--index) * 3.5);
    font-family: -apple-system, serif;
    line-height: calc(var(--index) * 4);
    position: absolute;
    left: 5%;
}

h4, input, textarea {
    font-size: calc(var(--index) * 1.2);
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

input::placeholder, textarea::placeholder {
    color: white;
}

button {
    font-size: calc(var(--index) * 0.8);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    padding: calc(var(--index) * 0.3) calc(var(--index) * 1);
    border-radius: 100px;
    color: white;
}

a {
    cursor: pointer;
}

p, a, label {
    font-size: calc(var(--index) * 0.8);
}

.wrapper {
    padding: 0 5%;
    position: relative;
}

@media screen and (max-width: 768px) {
    p, a, label {
        font-size: calc(var(--index) * 1.2);
    }

    button {
        font-size: calc(var(--index) * 1.2);
    }
}