* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
@font-face {
  font-family: 'Karlson';
  font-style: normal;
  src: url("./assets/fonts/karlson_25893.svg") format("svg"),
  url("./assets/fonts/karlson_25893.woff2") format("woff2"),
  url("./assets/fonts/karlson_25893.ttf") format("truetype"),
  url("./assets/fonts/karlson_25893.otf") format("opentype"),
  url("./assets/fonts/karlson_25893.woff") format("woff");
}



